{% extends 'base.html' %}
{%block titulo%}Agregar Producto - AMV{%endblock%}
{% block contenido %}

<div class="w-50 mx-auto py-5">
    {% if edit %}
        <h2 class="text-center mb-4">Editar Producto</h2>
    {%else%}
        <h2 class="text-center mb-4">Agregar Producto</h2>
    {%endif%}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        <button class="btn btn-success mt-3" type="submit">Guardar</button>
    </form>

</div>
{% endblock %}